@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Lato", serif;
  color: #494f66;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: unset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
